@page "/alignstone"
@rendermode InteractiveAuto

<PageTitle>GameBoard</PageTitle>

<h1>Counter</h1>

<p role="status">Status: @gameBoard.GameState</p>

<div>
    <div class="container">
@*         @for(var i = 0; i < 3; i++)
        {
            @for (var j = 0; j < 3; j++)
            {
                <span class=@cellClass[i][j]>
                    <span onclick="@(() => CellClicked(i,j))">@(CellStateMessage(gameBoard.GetCellState(new Model.Point(i, j))))</span>
                </span>        
            }
        } *@
        @* TODO書き方がわからない…… *@

        <span class="item0_0">
            <span onclick="@(() => CellClicked(0,0))">@($"0-0" + CellStateMessage(gameBoard.GetCellState(new Model.Point(0, 0))))</span>
        </span>
        <span class="item1_0">
            <span onclick="@(() => CellClicked(1,0))">@("1-0" + CellStateMessage(gameBoard.GetCellState(new Model.Point(1, 0))))</span>
        </span>
        <span class="item2_0">
            <span onclick="@(() => CellClicked(2,0))">@("2-0" + CellStateMessage(gameBoard.GetCellState(new Model.Point(2, 0))))</span>
        </span>

        <span class="item0_1">
            <span onclick="@(() => CellClicked(0,1))">@("0-1" + CellStateMessage(gameBoard.GetCellState(new Model.Point(0, 1))))</span>
        </span>
        <span class="item1_1">
            <span onclick="@(() => CellClicked(1,1))">@("1-1" + CellStateMessage(gameBoard.GetCellState(new Model.Point(1, 1))))</span>
        </span>
        <span class="item2_1">
            <span onclick="@(() => CellClicked(2,1))">@("2-1" + CellStateMessage(gameBoard.GetCellState(new Model.Point(2, 1))))</span>
        </span>

        <span class="item0_2">
            <span onclick="@(() => CellClicked(0,2))">@("0-2" + CellStateMessage(gameBoard.GetCellState(new Model.Point(0, 2))))</span>
        </span>
        <span class="item1_2">
            <span onclick="@(() => CellClicked(1,2))">@("1-2" + CellStateMessage(gameBoard.GetCellState(new Model.Point(1, 2))))</span>
        </span>
        <span class="item2_2">
            <span onclick="@(() => CellClicked(2,2))">@("2-2" + CellStateMessage(gameBoard.GetCellState(new Model.Point(2, 2))))</span>
        </span>

    </div>
</div>


<button class="btn btn-primary" onclick="@(()=>ResetBoard())" >Click me</button>

@code {
    private Model.GameBoard gameBoard = new Model.GameBoard(3, 3);
    private string[][] cellClass = Enumerable.Range(0, 3)
        .Select(x => Enumerable.Range(x, 3).Select(y => $"item{x}_{y}").ToArray())
        .ToArray();

    void ResetBoard()
    {
        gameBoard.Reset();
    }

    string CellStateMessage(Model.CellState state)
        => (state.Highlights ? "●" : "") +  (state.Stone.HasValue ? state.Stone.Value.ToString() : "empty");

    void CellClicked(int i, int j)
    {
        if(gameBoard.GetCellState(i,j).Stone.HasValue){ return; }
        if(gameBoard.GameState == Model.GameState.TurnOfBlack)
        {
            gameBoard.Operate(Model.GameBoard.CreateOperation(i, j, Model.StoneType.Black));
        }
        else if (gameBoard.GameState == Model.GameState.TurnOfWhite)
        {
            gameBoard.Operate(Model.GameBoard.CreateOperation(i, j, Model.StoneType.White));
        }
    }
}
